<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Contact</title>
</head>
<body>
<h1>Create Contact</h1>

<a href="index.html"><button>Home</button></a><br>

<h4>Personal Information</h4>
ID: <input type="number" id="personalInfoID" /> <br>
Name: <input type="text" id="personalInfoName" /> <br>
Age: <input type="number" id="age" /> <br>
Pronouns: <input type="text" id="pronouns" /> <br>
Sex: <input type="text" id="sex" /> <br>
<br>
<h4>Contact Information</h4>
Phone Number: <input type="text" id="phoneNumber" /> <br>
Email: <input type="text" id="email" /> <br>
Facebook Link: <input type="text" id="facebookLink" /> <br>
Image: <input type="text" id="image" /> <br>

<button name="submit" onclick="createContact()">Create</button>
</body>

<script src="main.js"></script>
</html>