<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Activity</title>
</head>
<body>
<h1>Create Activity</h1>

<a href="index.html"><button>Home</button></a><br>

<br>
<h4>Activity</h4>
Activity Name: <input type="text" id="activityName" /> <br>
Date: <input type="text" id="date" /> <br>
Time: <input type="text" id="time" /> <br>
Acceptance: <input type="checkbox" id="acceptance" /> <br>

<h4>Invitee Personal Information</h4>
Invitee Personal Information: <input type="text" id="inviteePersonalInformation" /> <br>
Name: <input type="text" id="personalInfoName" /> <br>
Age: <input type="number" id="age" /> <br>
Pronouns: <input type="text" id="pronouns" /> <br>
Sex: <input type="text" id="sex" /> <br>

<h4>Inviter Personal Information</h4>
Inviter Personal Information: <input type="text" id="inviterPersonalInformation" /> <br>
Name: <input type="text" id="personalInfoName" /> <br>
Age: <input type="number" id="age" /> <br>
Pronouns: <input type="text" id="pronouns" /> <br>
Sex: <input type="text" id="sex" /> <br>

<h4>Location</h4>
Location Name: <input type="text" id="locationName" /> <br>
Address: <input type="text" id="address" /> <br>

<button name="submit" onclick="createActivity()">Create</button>
</body>

<script src="main.js"></script>
</html>