<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Profile</title>
</head>
<body>
<h1>Edit Profile</h1>

<a href="index.html"><button>Home</button></a><br>

ID: <input type="number" id="personalInfoID" /> <br>
Name: <input type="text" id="personalInfoName" /> <br>
Age: <input type="number" id="age" /> <br>
Pronouns: <input type="text" id="pronouns" /> <br>
Sex: <input type="text" id="sex" /> <br>
<button name="submit" onclick="editProfile()">Edit</button>
</body>

<script src="main.js"></script>
</html>