<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Interest</title>
</head>
<body>
<h1>Edit Interest</h1>

<a href="index.html"><button>Home</button></a><br>

<h4>Personal Information</h4>
ID: <input type="number" id="personalInfoID" /> <br>
Name: <input type="text" id="personalInfoName" /> <br>
Age: <input type="number" id="age" /> <br>
Pronouns: <input type="text" id="pronouns" /> <br>
Sex: <input type="text" id="sex" /> <br>
<br>
<h4>Preferences</h4>
ID: <input type="number" id="interestID" /> <br>
Age Preference: <input type="text" id="agePreference" /> <br>
Sex Preference: <input type="text" id="sexPreference" /> <br>
Movie Genre Preference: <input type="text" id="movieGenre" /> <br>
Song Genre Preference: <input type="text" id="songGenre" /> <br>
Favorite Food: <input type="text" id="faveFood" /> <br>
Favorite Hobby: <input type="text" id="faveHobby" /> <br>

<button name="submit" onclick="createInterest()">Create</button>
</body>

<script src="main.js"></script>
</html>