<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Location</title>
</head>
<body>
<h1>Home</h1>

<a href="location.html"><button>Create Location</button></a><br>
<a href="createprofile.html"><button>Create Profile</button></a><br>
<a href="editprofile.html"><button>Edit Profile</button></a><br>
<a href="deleteprofile.html"><button>Delete Profile</button></a><br>
<a href="createcontact.html"><button>Create Contact Information</button></a><br>
<a href="editcontact.html"><button>Edit Contact Information</button></a><br>
<a href="createinterest.html"><button>Create Interest</button></a><br>
<a href="editinterest.html"><button>Edit Interest</button></a><br>
</body>


</html>